<%- include('header', {signedInflag: signedInflag}); -%>

<div class="all-entees">

    <div class="pop-ent-head">
        <h2 class="h2-popular">
            <% if(name) { %>
            <span>Animes Similar to <%=name%></span>
            <% } else { %>
            <span><%=type%> Animes</span>
            <% } %>
        </h2>
        <hr>
    </div>

    <div class="popular-ents row">

        <!-- <div class="col-lg-2 col-md-3 col-sm-6 clickThisDiv">
                <form class="recommended-ent" action="/entertainments" method="post">
                    <input type="hidden" class="hiddenSearchName" name="search" value="">
                    <img class="popular-anime" src="images/tenet.jpg" alt="aot-img">
                    <div class="ent-about">
                        <p class="pop-ent-desc">Tenet</p>
                    </div>
                </form>
            </div> -->

    </div>
</div>

<!-- <div class="load-more" style="text-align: center;">
    <button class="load-more-btn" onclick="loadMore()">Load More</button>
</div> -->

<div class="parent-pagination-container" style="margin: 7% 0;height: 70px;display: grid;place-items: center;">
    <div class="pagination-container">
        <button class="pagination-button pagination-previous"><i class="fa-solid fa-angle-left"></i></button>
        <div class="page-numbers-container">
            <!-- <button class="pagination-button">1</button>
            <button class="pagination-button">2</button>
            <button class="pagination-button active-page-button">3</button>
            <span class="pagination-button">...</span>
            <button class="pagination-button">1002</button>
            <button class="pagination-button">1003</button> -->
        </div>
        <button class="pagination-button pagination-next"><i class="fa-solid fa-angle-right"></i></button>
    </div>
    <div class="loader">
        <img src="/images/loader.gif" alt="">
    </div>
    <div class="end hide-end">
        <p>No Similar Animes Found!</p>
    </div>
</div>


<script src="/js/animeDisplayer.js"></script>

<%- include('footer'); -%>