<section id="footer">

    <div class="footer-icons">
        <div class="icon-div">
            <a href="https://www.instagram.com/spdcbr_titan/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="icon-div">
            <a href="https://www.youtube.com/channel/UCtrssLJ6cVY2DUb0mC1NxGw" target="_blank"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="icon-div">
            <a href="mailto:ansariaffan014@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        </div>
    </div>

    <p>© Mohammed Affan Ansari</p>

</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
<script src="/js/navbar.js"></script>