* {
    margin: 0;
    padding: 0;
}

.all-entees {
    margin: 7% 15% 0;
}

.loader {
    text-align: center;
    display: none;
}

.show-loader {
    display: block;
}

.loader > img {
    height: 70px;
}

.load-more {
    margin-top: 7%;
}

.load-more-btn {
    width: fit-content;
    padding: 5px;
}

/* Pagination styling */
.pagination-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagination-button {
    padding: 0.4rem 0.7rem;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(180, 180, 180);
}

.page-numbers-container {
    display: flex;
    justify-content: center;
}

.active-page-button {
    background-color: rgb(180, 180, 180);
}

@media (max-width: 576px) {
    .pagination-button {
        padding: 0.2rem 0.4rem;
        font-size: 0.8rem;
    }
}

.hide-btn {
    display: none;
}

.end {
    color: white;
    text-align: center;
}

.hide-end {
    display: none;
}

@media (max-width: 576px) {
    .all-entees {
        margin: 7% 5% 0;
    }
}